* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  background-color: aqua;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px violet, 0 0 20px violet, 0 0 50px violet;
  filter: brightness(80%);
}

.container h1 {
  font-style: 40px;
  font-weight: 600;
  color: rgb(158, 51, 158);
  margin: 40px 0;
}

.btn .icon {
  width: 40px;
  height: 40px;
}

.btn {
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgb(158, 51, 158);
  padding: 10px;
  margin: 30px 0;
  color: #fff;
}

.btn:hover {
  background: violet;
  transition: 0.2s all;
  cursor: pointer;
}
